.topic3{
    color: #122B49;
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}
.pricebox{
    padding: 20px;
    display: flex;
    gap: 50px;
}
.priceoption{
    display: flex;
    gap: 30px;
}
.rupee{
    position: relative;
    top: 10px;
    left: 23px;
    padding: 10px;
    width: 300px;
}
.lastpricebox{
    padding: 20px;
}
.inputadditional{
    width: 700px;
    position: relative;
    top: 10px;
    left: 19px;
    height: 200px;
}
.rupee1{
    position: relative;
    top: 10px;
    left: 19px;
}